<header>
    <div class="header w">
        <a href="javascript:;"><img src="/image/lufei1.jpeg" alt=""></a>
        <div class="nav">
            {{if userInfo}}
            <p class="wel">欢迎：{{userInfo.username}}</p>
            {{/if}}
            <a class="default" href="/home/">首页</a>
            {{if userInfo}}
            <a href="/admin/logout">
                退出登录
            </a>
            {{else}}
            <a href="/admin/login">登录</a>
            {{/if}}
        </div>
    </div>
</header>