<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/article.css">
</head>

<body>
    <header>
        <div class="header w">
            <a href="javascript:;"><img src="../../public/image/lufei1.jpeg" alt=""></a>
            <div class="nav">
                <a class="default" href="default.html">首页</a>
                <a href="">登录</a>
            </div>
        </div>
    </header>
    <main class="w">
        <div class="main">
            <div class="detail">
                <h2>路飞和艾斯，不良少年登场！！！</h2>
                <span class="auther">萨博</span><em>|</em><span>2020-06-17</span>
                <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                <img src="../../public/image/lufei1.jpeg" alt="">
                <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
            </div>
            <div class="comment">
                <form action="">
                    <span>评论</span>
                    <textarea name="" id="" class="cmt"></textarea>
                    <input type="submit" value="提交" class="submit">
                </form>
            </div>
            <div class="comment-list">
                <ul>
                    <li>
                        <span class="auther">萨博</span><em>|</em>
                        <span>2020-06-17</span><em>|</em>
                        <span>sabo@blog.com</span>
                        <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                    </li>
                    <li>
                        <span class="auther">萨博</span><em>|</em>
                        <span>2020-06-17</span><em>|</em>
                        <span>sabo@blog.com</span>
                        <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                    </li>
                    <li>
                        <span class="auther">萨博</span><em>|</em>
                        <span>2020-06-17</span><em>|</em>
                        <span>sabo@blog.com</span>
                        <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>

</html>