{{extend './common/layout.html'}}
{{block 'link'}}
<link rel="stylesheet" href="/css/article.css">
{{/block}}
{{block 'main'}}
{{include './common/header.html'}}
<main class="w">
    <div class="main">
        <div class="detail">
            <h2>{{article.title}}</h2>
            <span class="auther">{{article.author.username}}</span>
            <em>|</em>
            <span>{{dateFormat(article.publishDate, 'yyyy-mm-dd')}}</span>
            <p>{{article.content}}</p>
        </div>
        {{if userInfo}}
        <div class="comment">
            <form action="/home/comment" method="POST">
                <span>评论</span>
                <textarea name="content" id="" class="cmt"></textarea>
                <input type="hidden" name="uid" value="{{@userInfo._id}}">
                <input type="hidden" name="aid" value="{{@article._id}}">
                <input type="submit" value="提交" class="submit">
            </form>
        </div>
        {{else}}
        <div class="comment">
            <h2>先进行登录，再对文章进行评论</h2>
        </div>
        {{/if}}
        <div class="comment-list">
            <ul>
                {{each comments}}
                <li>
                    <span class="auther">{{$value.uid.username}}</span><em> | </em>
                    <span>{{dateFormat($value.time, 'yyyy-mm-dd')}}</span><em> | </em>
                    <span>{{$value.uid.email}}</span>
                    <p>{{$value.content}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</main>
{{/block}}