{{extend './common/layout.html'}}
{{block 'link'}}
<link rel="stylesheet" href="/css/article.css">
{{/block}}
{{block 'main'}}
{{include './common/header.html'}}
<main class="w">
    <div class="main">
        <div class="detail">
            <h2>路飞和艾斯，不良少年登场！！！</h2>
            <span class="auther">萨博</span><em>|</em><span>2020-06-17</span>
            <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
            <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！
            </p>
            <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！
            </p>
            <img src="/image/lufei1.jpeg" alt="">
            <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！
            </p>
            <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！
            </p>
        </div>
        <div class="comment">
            <form action="">
                <span>评论</span>
                <textarea name="" id="" class="cmt"></textarea>
                <input type="submit" value="提交" class="submit">
            </form>
        </div>
        <div class="comment-list">
            <ul>
                <li>
                    <span class="auther">萨博</span><em>|</em>
                    <span>2020-06-17</span><em>|</em>
                    <span>sabo@blog.com</span>
                    <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！
                    </p>
                </li>
                <li>
                    <span class="auther">萨博</span><em>|</em>
                    <span>2020-06-17</span><em>|</em>
                    <span>sabo@blog.com</span>
                    <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                </li>
                <li>
                    <span class="auther">萨博</span><em>|</em>
                    <span>2020-06-17</span><em>|</em>
                    <span>sabo@blog.com</span>
                    <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！
                    </p>
                </li>
            </ul>
        </div>
    </div>
</main>
{{/block}}