<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客首页</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/default.css">
</head>

<body>
    <header>
        <div class="header w">
            <a href="javascript:;"><img src="../../public/image/lufei1.jpeg" alt=""></a>
            <div class="nav">
                <a class="default" href="default.html">首页</a>
                <a href="">登录</a>
            </div>
        </div>
    </header>
    <main>
        <div class="main w clearfix">
            <div>
                <img src="../../public/image/lufei1.jpeg" alt="">
                <div>
                    <h3><a href="article.html">路飞和艾斯，不良少年登场！！！</a></h3>
                    <span class="auther">萨博</span><em>|</em><span>2020-06-17</span>
                    <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                </div>
            </div>
            <div>
                <img src="../../public/image/lufei1.jpeg" alt="">
                <div>
                    <h3>路飞和艾斯，不良少年登场！！！</h3>
                    <span class="auther">萨博</span><em>|</em><span class="ctime">2020-06-17</span>
                    <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                </div>
            </div>
            <div>
                <img src="../../public/image/lufei1.jpeg" alt="">
                <div>
                    <h3>路飞和艾斯，不良少年登场！！！</h3>
                    <span class="auther">萨博</span><em>|</em><span>2020-06-17</span>
                    <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                </div>
            </div>
            <div>
                <img src="../../public/image/lufei1.jpeg" alt="">
                <div>
                    <h3>路飞和艾斯，不良少年登场！！！</h3>
                    <span class="auther">萨博</span><em>|</em><span>2020-06-17</span>
                    <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                </div>
            </div>
            <div>
                <img src="../../public/image/lufei1.jpeg" alt="">
                <div>
                    <h3>路飞和艾斯，不良少年登场！！！</h3>
                    <span class="auther">萨博</span><em>|</em><span>2020-06-17</span>
                    <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                </div>
            </div>
            <div>
                <img src="../../public/image/lufei1.jpeg" alt="">
                <div>
                    <h3>路飞和艾斯，不良少年登场！！！</h3>
                    <span class="auther">萨博</span><em>|</em><span>2020-06-17</span>
                    <p>路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！路飞和艾斯，不良少年登场！！！</p>
                </div>
            </div>
        </div>
        <ul class="turn clearfix">
            <li><a href="#">上一页</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </main>

</body>

</html>