{{extend './common/layout.html'}}
{{block 'link'}}
<link rel="stylesheet" href="/css/default.css">
{{/block}}
{{block 'main'}}
{{include './common/header.html'}}
<main>
    <div class="main w clearfix">
        {{each article.records}}
        <div>
            <img src="{{$value.cover}}" alt="">
            <div>
                <h3><a href="/home/article">{{$value.title}}</a></h3>
                <span
                    class="auther">{{$value.author.username}}</span><em>|</em><span>{{dateFormat($value.publishDate, 'yyyy-mm-dd')}}</span>
                <p>{{$value.content.substr(0, 80)+'...'}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <ul class="turn clearfix">
        {{if article.page > 1 }}
        <li><a href="/home/?page={{article.page - 1}}">上一页</a></li>
        {{/if}}
        {{each article.display}}
        <li><a href="/home/?page={{$value}}" class="{{$value == article.page ? 'active' : ''}}">{{$value}}</a></li>
        {{/each}}
        {{if article.page < article.pages}}
        <li><a href="/home/?page={{article.page - 0 + 1}}">下一页</a></li>
        {{/if}}
    </ul>
</main>
{{/block}}